/* CSS Document */

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	padding: 0px;
	margin: 0px;
}

:root {
	--pagina-kleur-light: white;
	--tekst-kleur-light: black;
	--pagina-kleur-dark: black;
	--tekst-kleur-dark: white;
	--Haloween-kleur: orange;
	--hoover-tekst-kleur: red;
	--active-tekst-kleur: red;
	--tweede-tekst-kleur: red;
	--border-focus: black;
	--border-element-light: black;
	--border-element-dark: white;
	--focus-achtergrond-kleur: lightyellow;
}


/* Alle Css voor de Body */

body {
	background-color: var(--pagina-kleur-light);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 1s;
}

.darkmode {
	background-color: var(--pagina-kleur-dark);
	color: var(--tekst-kleur-dark);
}

.haloween {
	color: var(--Haloween-kleur);
}

.darkmodeHaloween {
	background-color: var(--pagina-kleur-dark);
}


/* Alle Css voor de Header */

header {
	background-color: var(--pagina-kleur-light);
	margin-bottom: 1em;
	border-bottom: 1px solid var(--border-element-light);
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.darkmode header {
	background-color: var(--pagina-kleur-dark);
	border-bottom: 1px solid var(--border-element-dark);
}

.haloween header {
	color: var(--Haloween-kleur);
}

.darkmodeHaloween header {
	background-color: var(--pagina-kleur-dark);
	border-bottom: 1px solid var(--border-element-dark);
}


/* Alle Css voor de Navigatie/ul*/

header>Nav>ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.darkmode ul {
	background-color: var(--pagina-kleur-dark);
}

.haloween ul {
	color: var(--Haloween-kleur);
}

.darkmodeHaloween ul {
	background-color: var(--pagina-kleur-dark);
}


/* Alle Css voor de List items*/

header>Nav>ul>li {
	margin: .5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

li:hover {
	cursor: pointer;
	color: var(--hoover-tekst-kleur);
}

li:active {
	color: var(--active-tekst-kleur);
}

li:focus {
	background-color: var(--focus-achtergrond-kleur);
	outline: none;
	border: 1px solid var(--border-focus);
}

li:nth-of-type(2n+1) {
	color: var(--tweede-tekst-kleur);
}

@media (max-width: 21em) {
	li {
		font-size: .8em;
	}
}


/* Alle Css voor het nos logo*/

.Noslogo {
	color: silver;
	font-weight: 800;
	font-size: 2em;
}

.deovannos {
	color: var(--tweede-tekst-kleur);
}


/* Alle Css voor de H2*/

h2 {
	font-size: 1em;
}

h2:active {
	color: var(--active-tekst-kleur);
}

h2:hover {
	color: var(--hoover-tekst-kleur);
	cursor: pointer;
}

h2:focus {
	background-color: var(--focus-achtergrond-kleur);
	outline: none;
	border: 1px solid var(--border-focus);
}


/* Alle Css voor de svg,s in de Ul*/

.Pijltjenabenedennavigatie {
	width: 10%;
	color: red;
}


/* Alle Css voor de Hamburger Menu,s*/

.NieuwsPaginaMenu {
	position: fixed;
	top: 3.25em;
	left: 15%;
	background-color: white;
	z-index: 5;
	list-style-type: none;
	padding: .5em;
	transform: translatey(-120%);
	transition: 1s;
}

.NieuwsPaginaMenuOpen {
	transform: translatey(0%);
	transition: 1s;
}

.NieuwsPaginaMenu>li {
	border-bottom: gray solid 1px;
	margin: 0em .5em 0em .5em;
	padding: .5em;
}

.NieuwsPaginaMenu:hover {
	cursor: pointer;
	transform: translatey(0%);
	transition: 1s;
}

.SportPaginaMenu {
	position: fixed;
	top: 3.25em;
	left: 40%;
	background-color: var(--pagina-kleur-light);
	z-index: 5;
	list-style-type: none;
	padding: .5em;
	transform: translatey(-120%);
	transition: 1s;
}

.SportPaginaMenuOpen {
	transform: translatey(0%);
	transition: 1s;
}

.SportPaginaMenu>li {
	border-bottom: 1px solid gray;
	margin: 0em .5em 0em .5em;
	padding: .5em;
}

.SportpaginaMenu:hover {
	cursor: pointer;
}


/* Alle Css voor de A,tjes*/

a {
	color: var(--tekst-kleur-light);
	text-decoration: none;
}

a:focus {
	background-color: var(--focus-achtergrond-kleur);
	outline: none;
	border: 1px solid var(--border-focus);
}

a:hover {
	cursor: pointer;
	color: var(--hoover-tekst-kleur);
}

a:active {
	color: var(--active-tekst-kleur);
}

.darkmode a {
	color: var(--tekst-kleur-dark);
}

.haloween a {
	color: var(--Haloween-kleur);
}

.darkmodeHaloween a {
	background-color: var(--pagina-kleur-dark);
}


/* Alle Css voor de svg,s*/

header>a {
	width: 25%;
}

svg {
	margin-top: .2em;
	margin-right: 1em;
}

.driepuntmenuknop {
	transform: rotate(90deg);
}

svg:hover {
	cursor: pointer;
}


/* Alle Css voor de Dark/LightmodeButton*/

button {
	height: auto;
	width: 35%;
	background-color: var(--pagina-kleur-light);
	border: 1px solid var(--border-element-light);
	padding: .5em;
	border-radius: 1em;
}

button>img {
	height: 100%;
	width: 100%;
}

.darkmode button {
	background-color: var(--pagina-kleur-dark);
	padding: .5em;
	border-radius: 1em;
	border: solid 1px var(--border-element-dark);
}

.haloween button {
	background-color: #fed8b1;
	;
	border: solid 1px darkorange;
}

.darkmodeHaloween button {
	background-color: darkorange;
	padding: .5em;
	border-radius: 1em;
	border: solid 1px #fed8b1;
}

button:hover {
	cursor: pointer;
}

button:hover {
	background-color: red;
}

button:focus {
	border: 3px solid var(--border-focus);
	outline: none;
}


/* Alle Css voor de Main*/

main {
	margin: 1em;
	margin-top: 4em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

img {
	width: 100%;
}

h1 {
	font-size: 1.6em;
}

h3 {
	font-size: .9em;
	width: 85%;
	padding: .2em;
	font-weight: 300;
	margin-top: 1em;
}

.sectiontekst h3 {
	margin-top: 0;
}

h3:hover {
	color: var(--focus-tekst-kleur);
}

h3:active {
	color: var(--active-tekst-kleur);
}

h3:focus {
	background-color: var(--focus-achtergrond-kleur);
	outline: none;
	border: 1px solid var(--border-focus);
}

@media (max-width: 20em) {
	h3 {
		font-size: .7em;
	}
}

h4 {
	font-size: .5em;
	text-transform: uppercase;
	color: gray;
	padding: .2em;
	margin-bottom: 2em;
}

.sectiontekst h4 {
	margin-bottom: 0;
}


/* Alle Css voor de Sections*/

section {
	border-bottom: .1px solid lightgray;
	display: flex;
	flex-direction: row;
	padding: 0.3em;
	padding-top: .5em;
	padding-bottom: .5em;
}

section>a {
	display: flex;
	flex-direction: row;
}

section:hover {
	cursor: pointer;
}

section:first-of-type {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 0;
	margin: 1.5em 1em 3em 1em;
	border-bottom: 0px solid white;
}

section:first-of-type {
	cursor: auto;
}

.sectiontekst {
	padding-left: .5em;
}


/* Alle Css voor de image,s in de sections*/

section>img {
	width: 30%;
	height: 30%;
	border-radius: .5ch;
}

section>a>img {
	height: auto;
	width: 30%;
	border-radius: .5ch;
}

@media (max-width: 20em) {
	section>a>img {
		height: auto;
		width: 30%;
		border-radius: .5ch;
	}
}


/* Alle Css voor de Paragraven*/

p {
	margin: 1em 0 1em 0;
}


/* Alle Css voor de Video*/

video {
	width: 100%;
}


/* Alle Css voor de Footer*/

footer {
	margin-top: 5em;
	margin-left: 1em;
}

footer>nav>ul {
	list-style-type: none;
}

footer>nav>ul>li {
	font-weight: 300;
	margin: 1em 0em 1em 0em;
}