/* CSS Document */

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.darkmode {
	background-color: black;
	color: white;
	transition: 1s;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	margin-bottom: 1em;
	border-bottom: 1px solid black;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 5;
}

.darkmode header {
	background-color: black;
	border-bottom: 1px solid white;
}

header>Nav>ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

header>Nav>ul>li {
	margin: .5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	height: 10%;
	width: 10%;
	background-color: white;
	border: 1px solid black;
	padding: .5em;
	border-radius: 1em;
}

button>img {
	height: 100%;
	width: 100%;
}

.darkmode button {
	background-color: black;
	padding: .5em;
	border-radius: 1em;
	border: solid 1px white;
}

a {
	color: black;
	text-decoration: none;
}

.darkmode a {
	color: white;
}


.NieuwsPaginaMenu {
	position: fixed;
	top: 3.25em;
	left: 4.5em;
	background-color: white;
	z-index: 5;
	list-style-type: none;
	padding: .5em;
	transform: translatey(-120%);
	transition: 1s;
}

.NieuwsPaginaMenuOpen{
	transform: translatey(0%);
	transition: 1s;
}

.darkmode ul {
	background-color: black;
}

.NieuwsPaginaMenu>li {
	border-bottom: gray solid 1px;
	margin: 0em .5em 0em .5em;
	padding: .5em;
}

.NieuwsPaginaMenu:hover{
	cursor:pointer;
	transform: translatey(0%);
	transition: 1s;
}

li:active {
	background-color: lightyellow;
}

button:hover{
	cursor:pointer;
}

li:hover{
	cursor:pointer;
}

svg:hover{
	cursor:pointer;
}

a:hover{
	cursor:pointer;
}


.Noslogo {
	color: silver;
	font-weight: 800;
	font-size: 2em;
}

.deovannos {
	color: red;
}

svg {
	margin-top: .2em;
}

.driepuntmenuknop {
	transform: rotate(90deg);
}

a:focus{
	border: solid gray 1px;
	background-color: lightyellow;
	outline: none;
	border: 1px solid gray;
}

a.darkmode:focus{
	border: solid gray 1px;
	background-color: darkgoldenrod;
	outline: none;
	border: 1px solid gray;
}

li:focus{
	border: solid gray 1px;
	background-color: lightyellow;
	outline: none;
	border: 1px solid gray;
}

li.darkmode:focus{
	border: solid gray 1px;
	background-color: darkgoldenrod;
	outline: none;
	border: 1px solid gray;
}

main {
	margin: 1em;
	margin-top: 4em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

section {
	border-bottom: .1px solid lightgray;
	display: flex;
	flex-direction: row;
	padding: 0.3em;
	padding-top: .5em;
	padding-bottom: .5em;
}

section:hover{
	cursor:pointer;
}

section:first-of-type {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 0;
	margin: 1.5em 1em 3em 1em;
	border-bottom: 0px solid white;
}
section:first-of-type{
	cursor:auto;
}

.sectiontekst {
	padding-left: .5em;
}

h2 {
	font-size: 1em;
}

section>img {
	height: 30%;
	width: 30%;
	border-radius: .5ch;
}

h3 {
	font-size: .9em;
	width: 85%;
	padding: .2em;
	font-weight: 300;
}

h4 {
	font-size: .5em;
	text-transform: uppercase;
	color: gray;
	padding: .2em;
}

footer {
	margin-top: 5em;
	margin-left: 1em;
}

footer>nav>ul {
	list-style-type: none;
}

footer>nav>ul>li {
	font-weight: 300;
	margin: 1em 0em 1em 0em;
}