/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
*, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
  background-color: white;
      height: 100%;
      text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizelegibility;
      font-feature-settings: "liga", "kern";
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  header{

    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 1em;
    border-bottom: 1px solid black ;
  }
  h1{
    color:red;
    font-weight: 800;
  }
header>h1{
  position: absolute;
  top:-.1em;
  left:0;
}
  header>Nav>ul{
display: flex;
flex-direction: row;
list-style-type: none;

  }
  li{
    margin :1em;
  }
main{
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  margin-bottom: 1em;
  
}

  section{
    border-top: .25px solid gray;
    position: relative;
    margin: 2.8em;
    padding:1em;
  }

  section#firstsection{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding:0;
    margin: 1em;
    border-top: 0px solid white;
  }

  h2{
    font-size: 1em;
  }

  section>img{
    position: absolute;
    right:0em;
width: 30%;
border-radius: 1ch ;
top: .5em;
  }
h3{
  font-size: 0.8em;
  position: absolute;
  right: 8em;
  top: 0em;
  left:0;
}
  h4{
    font-size: .5em;
    text-transform: uppercase;
    color: gray;
    position: absolute;
  top: 7em;
  left:0;
  }
footer{
  margin-top: 5em;
  margin-left: 1em;
}
  footer>nav>ul{
    list-style-type: none;
  }